/* Make webpages responsive to size*/

/* Smallest screen: Block Chain*/
@media screen and (max-width: 600px) {
	.software {
		width: 490px;
		height: 620px;
		background: url(software.png) -720px -590px;
	}
}

/* 600 ~ 800: Software */
@media screen and (min-width: 601px) and (max-width: 800px) {
	.software {
		width: 710px;
		height: 620px;
		background: url(software.png) 0px -590px;
	}
}

/* 800 ~ 1000: Software Engineers */
@media screen and (min-width: 801px) and (max-width: 1000px) {
	.software {
		width: 330px;
		height: 580px;
		background: url(software.png) -875px 0;
	}
}

/* 1000 ~ 1200:  Building Engineers */
@media screen and (min-width: 1001px) and (max-width: 1200px) {
	.software {
		width: 435px;
		height: 580px;
		background: url(software.png) -435px 0;
	}
}

/* Biggest screen:  Aircraft Engineers */
@media screen and (min-width: 1201px) {
	.software {
		width: 450px;
		height: 580px;
		background: url(software.png) 0 0;
	}
}